<h1>Sign Up!</h1>

<div>
    <form action="<%= users_url %>" method="post">
        <label> Username:
            <input type="text" name="user[username]" value="">
        </label>

        <label> Password:
            <input type="password" name="user[password]" value="">
        </label>    

        <input type="submit" value="Sign Up Loser">

    </form>
</div>